@import '../../style//variables';
.layout-container{
    height: 100%;
    .site-layout-background{
        .layout-nav{
            padding: 0 16px;
            background-color: #fff;

            height: 50px;
            line-height: 50px;
        }
        .layout-content--info{
          min-height: calc(100% - 50px);
          padding: 20px;
          overflow-y: auto;

        }
    }
    .logo {
        height: 32px;
        margin: 16px;
        background: rgba(255, 255, 255, 0.3);
      }
      .trigger {
        padding: 0 24px;
        font-size: 18px;
        line-height: 64px;
        cursor: pointer;
        transition: color 0.3s;
      }
      .layout-header {
        padding: 0;
        border: 1px solid map-get($colors, 'light-grey');
      }
      .header-backgroud{
        background-color: #fff;
      }
}
